<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>首页 || liangjiagang</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap.min.css}" >
    <!-- Jquery Ui CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/jquery-ui.css}" >
    <!-- Meanmenu CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/meanmenu.min.css}">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">

    <!-- Modernizr Js 必须放在head里引用 -->
    <script type="text/javascript" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>


</head>
<body>
    <div class="wrapper">
        <!--Header Area Start-->
        <header>
            <div class="header-container">
                <div class="header-area header-absolute header-sticky">
                    <div class="header-boxshadow">
                        <div class="container header-inner">

                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

<!--Jquery 1.12.4-->
<script type="text/javascript" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<!--Bootstrap-->
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<!--Venobox-->
<script type="text/javascript" th:src="@{/js/vendor/venobox.min.js}"></script>

</html>



